name: Cypress Tests

on:
  push:
    branches:
      - main
  schedule:
    - cron: '6 6 * * *' 

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress install
        uses: cypress-io/github-action@v2
        with:
          start: npm run test

        